<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://file1.telestar.fr/var/telestar/storage/images/3/0/6/6/3066914/a-florent.jpg?alias=exact1024x768_l&size=x100&format=webp);">
    <h1>T'en veux du Bookmark?!</strong>!</h1>
    <p>Et bien on va t'en donner.</p>
</div>
<div class="container">
    <div class="cards">
  <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.leparisien.fr/resizer/TCGC-cJbDlSmrhNO5U1u69ux1tg=/622x395/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/ISBCASTUDJL63PUCWKAQ5PGK7A.jpg)">
    <%= link_to "#{list.name}", list_path(list), class: "btn btn-gradient" %>
  </div>
  <% end %>
</div>
